/* navigation bar style */
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #e2e5e7; /* light color */
    padding: 0.5rem 1rem;
  }
  
  /* Logo style */
  .navbar-brand .logo {
    height: 3rem; /* 根据需要调整 */
    margin-right: 1rem;
  }
  
  /* 导航链接容器 */
  .navbar-nav {
    display: flex;
    flex-direction: row;
  }
  
  /* 导航链接 */
  .nav-item {
    margin-right: 1rem;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333333;
    padding: 0.5rem 1rem;
  }
  
  .nav-link:hover, .nav-link:focus {
    background-color: #d6d6d6; /* 悬停时的背景色 */
  }


/* modal button */
  .modal {
    display: none; /* 默认不显示 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 2rem;
    max-width: 600px;
    width: 90%;
    border-radius: 10px;
    outline: none;
  }
  
  .modal.show {
    display: flex;
  }
  
  /* 为 fieldset 添加边框和内边距 */
fieldset {
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  /* 设置 legend 的字体样式 */
  legend {
    font-weight: bold;
    font-size: 1.2rem;
    width: auto;
    padding:0 1rem;
  }
  
  /* 为复选框容器添加边框和内边距 */
  .checkbox-container {
    border: 1px solid #aaa;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
  }
  
  /* 设置复选框与标签之间的间距 */
  .checkbox-container input[type="checkbox"] {
    margin-right: 0.5rem;
  }

  .mainContent {
    display: flex;
    align-items: center; /* 关键：让文字垂直居中 */
    gap: 20px;
  }
  
  .mainContent p {
    flex: 1;
    margin: 0;
  }
  
  .mainContent img {
    max-width: 30%;
    height: auto;
    max-height: 100px; /* 可根据情况调节，比如 300px */
    object-fit: contain;
  }
/* 自定义开关样式 */

.hidden-checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .custom-switch-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .switch-sprite {
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-right: 10px;
    background-image: url('images/button.png');
    background-size: 100% 200%;
    background-position: bottom; /* 默认是未选中状态 */
  }
  
  .hidden-checkbox:checked + label .switch-sprite {
    background-position: top; /* 选中时显示上半部分 */
  }
  
  /* 当 checkbox 未勾选，显示 sprite 的下半部分 */
  .hidden-checkbox:not(:checked) + .custom-switch-label .switch-sprite {
    background-position: bottom;
  }

  .hidden-checkbox:focus + .custom-switch-label .switch-sprite {
    outline: 2px solid #0d6efd;
    outline-offset: 4px;
  }
  
  #openModalBtn {
    margin-bottom: 2rem;
  }